/* Фиксируем страницу */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

/* Контейнер */
#container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  max-height: 100vh;
  height: auto;
  aspect-ratio: 1000 / 1776;
  background-color: #000; /* Чёрный фон при масштабировании */
}

/* Все изображения */
#background, #crystal, #option {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0;
  left: 0;
}

/* Позиционирование кристалла и опции */
#crystal {
  top: calc(123 / 1776 * 100%);
}

#option {
  top: calc(1163 / 1776 * 100%);
}